@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --color-white: #FFF;
  --color-ametist: #9D5CD0;
  --color-grayUmber: #333;
  --color-dimGray: #666;
  --color-royalPurple: #7943A4;
  --color-brightUbe: #D1A9F0;
  --color-pastelGray: #CACACA;
  --color-isabelline: #ECECEC;
  --color-signalGray: #999;
  --color-black: #000;
  --color-pink: #D88F99;
  --color-brightLavender: #C283F3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-white);
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 160px;
  padding-right: 160px;
}

.btn {
  box-sizing: border-box;
  border: 0;
  padding: 17px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.link, 
.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: transparent;
  transition-property: background-color, border;
  transition: .3s ease-in-out;
}

h2 {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-grayUmber);
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grayUmber);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grayUmber);
}

/* header */

.header__top {
  position: relative;
  min-height: 100px;
  z-index: 3;
  color: var(--color-white);
  background-color: var(--color-black);
}

.header__top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 158px 30px 165px;
}

.burger {
  margin-left: -6px;
}

.burger__btn {
  display: none;
  border: none;
  background-color: transparent;
}

.burger__svg-2 {
  display: none;
}

.header__logo {
  margin-right: 10px;
}

.header__logo img {
  width: 173px;
  height: 39.9px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  width: 78.125%;
}

.header__nav-close {
  padding: 0;
  display: none;
  border: none;
  margin-bottom: 50px;
  background-color: transparent;
}

.header__nav-close svg {
  height: 29px;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60.5%;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.header__nav-link {
  border: 0;
}

.header__nav-link:before {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background-color: var(--color-royalPurple);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.header__nav-link:focus-visible:before {
  opacity: 1;
}

.header__nav-link:hover:not(:focus-visible) {
  color: var(--color-brightLavender);
}

.header__nav-link:active:not(:focus-visible) {
  color: var(--color-royalPurple);
}

.header__enter-link {
  font-weight: 400;
}

.header__enter-btn {
  padding: 0;
  font-weight: 400;
  border: 0;
  color: var(--color-white);
}

.header__enter-btn:before {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background-color: var(--color-royalPurple);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.header__enter-btn:focus-visible:before {
  opacity: 1;
}

.header__enter-btn:hover:not(:focus-visible) {
  color: var(--color-brightLavender);
}

.header__enter-btn:active:not(:focus-visible) {
  color: var(--color-royalPurple);
}

.header__enter-btn svg {
  width: 13px;
  height: 13px;
  margin-right: 7px;
}

.header__enter-btn svg path {
  transition: fill .3s ease-in-out;
}

.header__enter-btn:hover:not(:focus-visible) svg path {
  fill: var(--color-brightLavender);
}

.header__enter-btn:active:not(:focus-visible) svg path {
  fill: var(--color-royalPurple);
}

.header__search-container {
  display: none;
}

/* menu */ 

.menu {
  position: relative;
  min-height: 70px;
  z-index: 3;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  background-color: rgba(0, 0, 0, 0.4); 
}

.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 158px;
  min-height: 70px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65.5%;
  color: var(--color-white);
}

.list-item-btn {
  left: -6px;
  color: var(--color-white);
}

.list-item-btn:before {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background-color: var(--color-royalPurple);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.list-item-btn:focus-visible:before {
  opacity: 1;
}

.list-item-btn:hover:not(:focus-visible) {
  color: var(--color-brightLavender);
}

.list-item-btn.active {
  color: var(--color-royalPurple);
}

.list-item-btn svg {
  transition: transform .3s ease-in-out;
}

.list-item-btn.active svg {
  transform: rotatex(180deg);
}

.list-item-btn svg path {
  transition: stroke .3s ease-in-out;
}

.list-item-btn:hover:not(:focus-visible) svg path {
  stroke: var(--color-brightLavender);
}

.list-item-btn.active svg path {
  stroke: var(--color-royalPurple);
}

.menu__list-item{
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 48px;
  padding: 40px 19px 40px 40px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown__list {
  max-height: 220px;
}

.dropdown__list-item {
  width: 220px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  background-color: var(--color-pink);
  background-position: center;
  transition: border-color .3s ease-in-out, outline .3s ease-in-out;
}

.dropdown__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__list-item:hover {
  border-color: var(--color-ametist);
}

.dropdown__link {
  padding-left: 14px;
  width: 220px;
  display: block;
  position: absolute;
  border: 2px solid transparent;
  transition: border-color .3s ease-in-out, backdrop-filter .3s ease-in-out;
}

.dropdown__link:hover {
  cursor: pointer;
  border-color: var(--color-ametist);
}

.dropdown__link:focus {
  outline: 2px solid var(--color-ametist);
  outline-offset: -2px;
}

.dropdown__link:active {
  border-color: var(--color-brightUbe);
  backdrop-filter: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.dropdown__tintoretto {
  background-image: url(/img/menu-tintoretto.webp);
}

.dropdown__friedrich {
  background-image: url(/img/menu-friedrich.webp);
}

.dropdown__leonardo {
  background-image: url(/img/menu-leonardo.webp);
}

.dropdown__verocchio {
  background-image: url(/img/menu-verrocchio.webp);
}

.dropdown__monet {
  background-image: url(/img/menu-monet.webp);
}

.dropdown__sisley {
  background-image: url(/img/menu-sisley.webp);
}

.dropdown__manet {
  background-image: url(/img/menu-manet.webp);
}

.dropdown__renoir {
  background-image: url(/img/menu-renoir.webp);
}

.dropdown__vangogh {
  background-image: url(/img/menu-vangogh.webp);
}

.dropdown__cezanne {
  background-image: url(/img/menu-cezanne.webp);
}

.dropdown__gauguin {
  background-image: url(/img/menu-gauguin.webp);
}

.dropdown__seurat {
  background-image: url(/img/menu-seurat.webp);
}

.dropdown__kandinsky {
  background-image: url(/img/menu-kandinsky.webp);
}

.dropdown__marinetti {
  background-image: url(/img/menu-marinetti.webp);
}

.dropdown__malevich {
  background-image: url(/img/menu-malevich.webp);
}

.dropdown__picasso {
  background-image: url(/img/menu-picasso.webp);
}

.dropdown__carra {
  background-image: url(/img/menu-carra.webp);
}

.dropdown__pratella {
  background-image: url(/img/menu-pratella.webp);
}

.dropdown__severini {
  background-image: url(/img/menu-severini.webp);
}

.dropdown__balla {
  background-image: url(/img/menu-balla.webp);
}

.active-menu__list-item {
  display: block;
}

.simplebar .simplebar-track.simplebar-vertical {
  background-color: var(--color-black);
  width: 2px;
}

.simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: var(--color-white);
}

.simplebar-content-wrapper {
  overflow: auto;
}

.menu__search {
  width: 16%;
}

.menu__search-btn, .menu__form-btn {
  width: 22.1px;
  height: 21.62px;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.menu__form-input {
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: var(--color-white);
  background-color: transparent;
  transition: border-color .3s ease-in-out;
}

.menu__form-input:hover {
  border-color: var(--color-brightLavender);
}

.menu__form-input:focus {
  outline: none;
}

.menu__form-input:active, .menu__form-input:focus {
  border-color: var(--color-royalPurple);
}

.menu__search {
  position: relative;
  overflow: hidden;
}

.menu__search-btn {
  display: none;
}

.menu__form-btn {
  margin-left: 5px;
  margin-right: 9px;
}

.menu__form-btn svg {
  height: 21.62px;
  width: 22.2px;
}

.menu__search-form {
  display: flex;
  align-items: center;
  width: 251px;
  margin-top: 4px;
}

.menu__form-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.menu__form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85); 
}

.menu__form-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.85); 
}

.menu__form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85); 
}

/*hero*/ 

.hero {
  position: relative;
  overflow: hidden;
  margin-top: -170px;
  color: var(--color-white);
}

.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero__swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__swiper-slide:nth-child(1) {
  background-image: url(/img/hero-slide1.webp);
}

.hero__swiper-slide:nth-child(2) {
  background-image: url(/img/hero-slide2.webp);
}

.hero__swiper-slide:nth-child(3) {
  background-image: url(/img/hero-slide3.webp);
}

.hero__container {
  position: relative;
  min-height: 800px;
  padding-top: 233px;
  padding-bottom: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.hero__heading {
  max-width: 597px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 72px;
  line-height: 92px;
}

.hero__text {
  max-width: 597px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  min-width: 314px;
  min-height: 70px;
  padding: 18px 32px;
  border-radius: 100px;
  line-height: 30px;
  color: inherit;
  background-color: var(--color-ametist);
}

.hero__btn:hover {
  border: 3px solid var(--color-brightUbe);
}

.hero__btn:focus {
  outline: 2px solid var(--color-brightLavender);
  outline-offset: 5px;
}

.hero__btn:active {
  background-color: var(--color-royalPurple);
}

/*about*/ 

.about {
  min-height: 455px; 
  background-color: transparent;
}

.about__container {
  padding-top: 80px;
  padding-bottom: 73px; 
}

.about__text, .about__heading {
  max-width: 1080px;
}

/*gallery*/

.gallery {
  position: relative;
  min-height: 595px;
  background-image: url(/img/gallery-background.webp);
  background-size: cover;
  background-position: center;
}

.gallery__modal-part {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); 
  transition: .3s;
}

.gallery__modal-part.modal-active {
  display: flex;
  overflow: scroll;
}

.gallery__modal-content {
  position: relative;
  max-width: 900px;
  height: 100vh;
  max-height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  background-color: var(--color-white);
  color: var(--color-grayUmber);
  font-weight: 600;
}

.modal-content-left {
  width: 45%;
  max-width: 400px;
}

.modal-content-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-content-right {
  flex: 1;
  padding: 121px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-content-right-close {
  position: absolute;
  display: block;
  cursor: pointer;
  right: 10px;
  top: 20px;
  border: none;
  background-color: transparent;
}

.modal-content-right-close svg path {
  transition: fill .3s ease-in-out;
}

.modal-content-right-close:hover svg path {
  fill: var(--color-ametist);
}

.modal-content-right-close:focus svg path {
  fill: var(--color-ametist);
}

.modal-content-right-close:active svg path {
  fill: var(--color-royalPurple);
}

h4 {
  font-size: 16px;
  line-height: 22px;
}

.modal-content-right span {
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.modal-content-right-text {
  margin-top: 40px;
  line-height: 32px;
  font-size: 16px;
}

.gallery__container {
  display: flex;
  min-height: 595px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery__left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  margin-right: 50px;
}

.gallery__heading {
  color: var(--color-white);
}

.gallery__select {
  margin-bottom: 100px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.gallery__select-heading {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.choices {
  max-width: 400px;
  transition: background-color .3s ease-in-out;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0px;
}

.choices__inner {
  padding: 3px 14px 5px 16px;
  min-height: 40px;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  background-color: transparent;
}

.choices:hover:not(.is-open) {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices:focus:not(.is-open) {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--single {
  padding: 0px;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.is-open .choices__list--dropdown {
  border: 1px solid var(--color-signalGray);
  border-radius: 6px;
  background-color: transparent;
}

.choices__list--dropdown .choices__list .is-selected {
  display: none;
}

.choices__placeholder {
  opacity: 1;
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.choices__list--dropdown .choices__item--selectable {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-signalGray);
}

.choices__list--dropdown .choices__item {
  padding: 2px 0px 5px 16px;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid var(--color-signalGray);
}

.choices[data-type*=select-one]:after {
  height: 7px;
  width: 7px;
  margin-right: 7px;
  border-width: 0px;
  border-right: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
  transform: rotate(135deg);
  margin-top: -5px;
}

.choices[data-type*=select-one].is-open:after {
  border-width: 0px;
  border-left: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  margin-top: -2px;
}

.choices__list--dropdown .choices__item--selectable:after {
  content: '';
}

.checkbox__list {
  display: flex;
  flex-direction: column;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox__label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  transition: color .3s ease-in-out;
}

.checkbox__label::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 5px;
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-color: var(--color-white);
  transition: border-color .3s ease-in-out;
}

.checkbox__label::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 4px;
  top: 9px;
  width: 4px;
  height: 4px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-brightLavender);
}

.checkbox__input + .checkbox__label::after {
  content: none;
}

.checkbox__input:checked + .checkbox__label::after {
  content: '';
}

.checkbox__input:checked + .checkbox__label::before {
  border-color: var(--color-brightLavender);
}

.checkbox__input:checked + .checkbox__label {
  color: var(--color-brightLavender);
}

.checkbox__label:hover, .checkbox__label:hover::before {
  color: var(--color-brightLavender);
  border-color: var(--color-brightLavender);
}

.checkbox__input:focus + .checkbox__label {
  color: var(--color-brightLavender);
}

.checkbox__input:focus + .checkbox__label::before {
  border-color: (var(--color-brightLavender));
}

.gallery__right-part {
  width: 71.875%;
  overflow: hidden;
}

.gallery__swiper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 0px;
}

.gallery__wrapper {
  height: 350px;
}

.gallery__swiper-btns {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.gallery__swiper-btn-prev, .gallery__swiper-btn-next {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
  border: none;
  background-color: var(--color-dimGray);
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.gallery__swiper-btn-prev:hover:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-ametist);
}

.gallery__swiper-btn-next:hover:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-ametist);
}

.gallery__swiper-btn-prev:focus:not(.sw-btn.swiper-button-disabled) {
  border: 2px solid var(--color-black);
}

.gallery__swiper-btn-next:focus:not(.sw-btn.swiper-button-disabled) {
  border: 2px solid var(--color-black);
}

.gallery__swiper-btn-prev:active:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-royalPurple);
  border: 2px solid var(--color-black);
}

.gallery__swiper-btn-next:active:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-royalPurple);
  border: 2px solid var(--color-black);
}

.gallery__swiper-btn-prev {
  margin-right: 11px;
}

.gallery__swiper-slide {
  position: relative;
  cursor: pointer;
  height: 100%;
  transition: border .3s ease-in-out;
}

.gallery__swiper-slide:active {
  border: 2px solid var(--color-brightUbe);
}

.gallery__swiper-slide:focus {
  border: 3px solid var(--color-royalPurple);
}

.gallery__swiper-slide:before {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: 25px;
  left: 25px;
  background-color: rgba(0,0,0,0.5);
  background-image: url(/img/gallery-svg.svg);
  background-size: 81px 79px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
  transition-property: z-index, opacity;
  transition: .3s ease-in-out;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; 
  background: rgba(194, 131, 243, 0.4);
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease-in-out, z-index .3s ease-in-out;
}

.gallery__swiper-slide:hover::before {
  z-index: 1;
  opacity: 1;
}

.gallery__swiper-slide:active::before {
  z-index: 2;
  opacity: 1;
}

.gallery__swiper-slide:active::after {
  opacity: 1;
  z-index: 1;
}

.gallery__swiper-pagination {
  max-width: 47px;
  margin-right: 12px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.gallery__swiper-btns .sw-btn.swiper-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.gallery__swiper-slide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.none {
  display: none
}

/*catalog*/

.catalog {
  min-height: 1393px;
  background-color: transparent;
}

.catalog__container {
  padding-top: 80px;
  padding-bottom: 40px;
}

.catalog__description {
  max-width: 1080px;
  margin-bottom: 38px;
}

.catalog__content {
  display: flex;
  flex-direction: row;
}

.catalog__left-part {
  width: 47%;
  margin-right: 42px;
}

.tab-content-item {
  display: none;
}

.tab-content-item.active {
  display: flex;
  flex-direction: column;
}

.tab-content-item picture {
  width: 100%;
  height: 470px;
  margin-bottom: 30px;
}

.tab-content-title {
  margin-bottom: 6px;
}

.tab-content-date {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-signalGray);
}

.tab-content-desc {
  margin-bottom: 15px;
}

.catalog__right-part {
  width: 50%;
}

.accordion__btn {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 116px;
  margin-top: -1px;
  align-items: center;
  border-right: none;
  border-left: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-pastelGray);
  text-align: left;
  font-weight: 600;
  background-color: transparent;
  transition: border-color .3s ease-in-out;
}

.accordion__btn:first-child {
  border-color: var(--color-pastelGray);
}

.accordion__btn:hover {
  border-color: var(--color-ametist);
}

.catalog__right-part .ui-accordion-header-active {
  border-color: var(--color-royalPurple);
}

.catalog__right-part .ui-accordion-header-active:first-child {
  border-color: var(--color-royalPurple);
}

.accordion__title {
  display: block;
  position: relative;
  z-index: 1;
  font-weight: 600px;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grayUmber);
  background-color: transparent;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.accordion__title:before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: var(--color-ametist);
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.accordion__btn:focus-visible .accordion__title:before {
  opacity: 1;
}

.accordion__btn:focus-visible .accordion__title {
  color: var(--color-white);
}

.accordion__btn:hover .accordion__title {
  color: var(--color-ametist);
}

.ui-accordion-header-active .accordion__title {
  color: var(--color-royalPurple);
}

.accordion__btn svg {
  position: absolute;
  right: -7px;
  height: 60px;
  width: 53px;
  border: 2px solid transparent;
  transition: transform .3s ease-in-out;
}

.catalog__right-part .ui-accordion-header-active svg {
  transform: scaleY(-1);
}

.accordion__btn svg ellipse {
  transition: fill .3s ease-in-out;
}

.path {
  transition: stroke .3s ease-in-out;
}

.catalog__right-part .ui-accordion-header-active path {
  stroke: var(--color-ametist);
}

.catalog__right-part .ui-accordion-header-active svg ellipse {
  fill: var(--color-brightUbe);
}

.accordion__btn:hover svg ellipse {
  fill: var(--color-brightUbe);
}

.accordion__btn:focus svg ellipse {
  fill: var(--color-brightUbe);
}

.panel {
  flex-direction: row;
  padding: 25px 0px 40px 5px;
  overflow: hidden;
  border-bottom: 1px solid var(--color-pastelGray);
}

.panel__list {
  width: 100%;
  height: 100%;
  columns: 3 auto;
}

.panel__list-btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 0;
  scroll-behavior: smooth;
  text-align: left;
  border: 1px solid transparent;
  color: var(--color-grayUmber);
  background-color: transparent;
  transition: border-bottom .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.panel__list-btn:before  {
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: var(--color-ametist);
  transition: opacity .3s ease-in-out;
}

.panel__list-btn:focus-visible:before {
  opacity: 1;
}

.panel__list-btn:focus-visible {
  color: var(--color-white);
}

.panel__list-item:hover:not(:focus-visible) .panel__list-btn {
  color: var(--color-ametist);
  border-bottom: 1px solid var(--color-ametist);
}

.panel__list .active .panel__list-btn:not(:focus-visible) {
  color: var(--color-brightUbe);
  cursor: default;
  border-bottom: transparent;
}

.panel-img {
  width: 275px;
  height: 189px;
  padding: 12px;
  margin-right: 36px;
  border: 2px solid #B7B7B7;
}

.panel-img-1 {
  width: 100%;
  height: 100%;
  background-color: #B7B7B7;
}

.panel-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
}

.panel-description-title, .panel-description-text {
  margin-bottom: 5px;
}

.panel-description-text {
  line-height: 22px;
}

.panel-link {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-ametist);
}

/*events*/

.events {
  min-height: 781px;
}

.events__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.events__content {
  position: relative;
  height: 700px;
}

.events__swiper {
  overflow: hidden;
}

.events__swiper-btns {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  right: -25px;
  left: -25px;
  z-index: 2;
  top: 325px;
}

.events__swiper-btn-prev, .events__swiper-btn-next {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 100%;
  border: none;
  background-color: var(--color-isabelline);
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.events__swiper-btn-next svg {
  position: absolute;
  top: 15px;
  right: 17px;
}

.events__swiper-btn-prev svg {
  position: absolute;
  top: 15px;
  left: 17px;
}

.events__swiper-btn-prev:hover:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-brightUbe);
}

.events__swiper-btn-next:hover:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-brightUbe);
}

.events__swiper-btn-prev:focus:not(.sw-btn.swiper-button-disabled) {
  border: 2px solid var(--color-ametist);
}

.events__swiper-btn-next:focus:not(.sw-btn.swiper-button-disabled) {
  border: 2px solid var(--color-ametist);
}

.events__swiper-btn-prev:active:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-brightUbe);
  border: 2px solid var(--color-ametist);
}

.events__swiper-btn-next:active:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-brightUbe);
  border: 2px solid var(--color-ametist);
}

.events__swiper-btns .sw-btn.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

.events__swiper-wrapper {
  height: 700px;
}

.events__swiper-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  border: 1px solid var(--color-pastelGray);
}

.events__swiper-slide-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}

.events__swiper-pagination {
  display: none;
}

.events__slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 13px 50px 38px 50px;
}

.events__slide-content-text {
  display: flex;
  flex-direction: column;
}

.slide-img-desc {
  display: inline-block;
  margin-bottom: 13px;
  max-width: 145px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-signalGray);
}

.slide-title {
  margin-bottom: 5px;
}

.slide-link {
  position: relative;
  max-width: 92px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-ametist);
  border-bottom: 1px solid var(--color-ametist);
}

.slide-link:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-color: var(--color-ametist);
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.slide-link:focus-visible:before {
  opacity: 1;
}

.slide-link:focus-visible {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

.slide-link:hover:not(:focus-visible) {
  color: var(--color-royalPurple);
  border-bottom: 1px solid var(--color-royalPurple);
}

.slide-link:active:not(:focus-visible) {
  color: var(--color-grayUmber);
  border-bottom: 1px solid var(--color-grayUmber);
}

/*projects*/

.projects {
  min-height: 562px;
}

.projects__container {
  padding-top: 39px;
  padding-bottom: 79px;
}

.projects__heading {
  margin-bottom: 17px;
}

.projects__text {
  max-width: 1080px;
  margin-bottom: 18px;
}

.projects__text svg {
  cursor: pointer;
  position: relative;
  top: 4px;
}

.tippy-content {
  max-width: 264px;
  padding: 8px 11px;
}

.tippy-box {
  border-radius: 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-ametist);
}

.tippy-arrow {
  color: var(--color-ametist);
}

.circle, .letter {
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.tip:hover .circle {
  fill: var(--color-brightUbe);
}

.tip:focus .circle {
  fill: var(--color-brightUbe);
}

.tip:focus {
  outline: none;
}

.tip.active .circle {
  fill: var(--color-ametist);
}

.tip.active .letter {
  fill: var(--color-white);
}

.link-2, .link-3 {
  display: none;
}

.projects__text-link {
  border: none;
  color: var(--color-ametist);
  transition: color .3s ease-in-out;
}

.projects__text-link::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: -3px;
  right: -3px;
  background-color: var(--color-ametist);
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.projects__text-link:focus-visible:before {
  opacity: 1;
}

.projects__text-link:focus-visible {
  color: var(--color-white);
}

.projects__text-link:hover:not(:focus-visible) {

  border-bottom: 1px solid var(--color-ametist);
}

.projects__text-link:active:not(:focus-visible) {
  color: var(--color-royalPurple);
  border-bottom: 1px solid var(--color-royalPurple);
}

.projects__title {
  margin-bottom: 23px;
}

.projects__swiper-container {
  position: relative;
  height: 150px;
  width: 100%;
}

.projects__swiper {
  overflow: hidden;
  height: 100%;
  margin-right: 76px;
  margin-left: 76px;
}

.projects__swiper-btns {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 40%;
}

.projects__swiper-btn-prev, .projects__swiper-btn-next {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
  border: none;
  background-color: var(--color-isabelline);
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.projects__swiper-btn-prev:hover:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-brightUbe);
}

.projects__swiper-btn-next:hover:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-brightUbe);
}

.projects__swiper-btn-prev:focus:not(.sw-btn.swiper-button-disabled) {
  border: 2px solid var(--color-ametist);
}

.projects__swiper-btn-next:focus:not(.sw-btn.swiper-button-disabled) {
  border: 2px solid var(--color-ametist);
}

.projects__swiper-btn-prev:active:not(.sw-btn.swiper-button-disabled) {
  background-color: var(--color-brightUbe);
  border: 2px solid var(--color-ametist);
}

.projects__swiper-btn-prev.swiper-button-disabled svg path {
  stroke: #BBB;
}

.projects__swiper-btn-next.swiper-button-disabled svg path {
  stroke: #BBB;
}

.projects__swiper-btn-prev.swiper-button-disabled {
  cursor: not-allowed;
}

.projects__swiper-btn-next.swiper-button-disabled {
  cursor: not-allowed;
}

.projecrs__swiper-wrapper {
  height: 150px;
}

.projects__swiper-slide {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  border: 1px solid var(--color-pastelGray);
  transition: border-color .3s ease-in-out;
}

.projects__swiper-slide:focus {
  border-color: var(--color-ametist);
}

.projects__swiper-slide:active {
  border-color: var(--color-ametist);
}

.projects__swiper-slide img {
  object-fit: contain;
  filter: grayscale(1);
  opacity: 30%;
  transition: filter .3s ease-in-out, opacity .3s ease-in-out;
}

.projects__swiper-slide:hover img {
  opacity: 100%;
  filter: grayscale(0);
}

.projects__swiper-slide:active img {
  opacity: 100%;
  filter: grayscale(0);
}

.slide-1 img {
  width: 55%;
}

.slide-2 img {
  width: 75%;
}

.slide-3 img, .slide-9 img {
  width: 50%;
}

.slide-4 img {
  width: 30%;
}

.slide-5 img, .slide-8 img {
  width: 40%;
}

.slide-6 img {
  width: 57%;
}

.slide-7 img {
  width: 65%;
}

/*contacts*/

.contacts {
  border-top: 1px solid var(--color-pastelGray);
}

.contacts__first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 155px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.contacts__title {
  margin-bottom: 2px;
}

.contacts__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grayUmber);
}

.contacts__form {
  margin-right: 15px;
}

.contacts__form-list {
  display: flex;
  flex-direction: row;
}

.contacts__form-item {
  display: flex;
  flex-direction: column-reverse;
}

.contacts__form-input {
  margin-right: 20px;
}

.contacts__form-input {
  width: 270px;
  height: 50px;
  padding: 9px 24px;
  border-radius: 100px;
  border: 1px solid var(--color-grayUmber);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grayUmber);
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.contacts__form-input:hover {
  background-color: #EAEAEA;
}

.contacts__form-input:focus {
  background-color: #EAEAEA;
}

.js-validate-error-label {
  margin-left: 24px;
  color: #D11616 !important;
  font-size: 12px;
}

.contacts__form-input::placeholder {
  color: var(--color-signalGray);
}

.contacts__form-input::-webkit-input-placeholder {
  color: var(--color-signalGray);
}

.contacts__form-input:-moz-placeholder {
  color: var(--color-signalGray);
}

.contacts__form-input::-moz-placeholder {
  color: var(--color-signalGray);
}

.contacts__form-input::-ms-input-placeholder {
  color: var(--color-signalGray);
}

.contacts__form-btn {
  cursor: pointer;
  min-width: 329px;
  min-height: 50px;
  padding: 11px 30px;
  border-radius: 100px;
  border: 2px solid var(--color-ametist);
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--color-ametist);
  background-color: transparent;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.form-btn-2 {
  display: none;
}

.contacts__form-btn:hover {
  background-color: #9d5cd045;
}

.contacts__form-btn:focus {
  background-color: #9d5cd045;
}

.contacts__form-btn:active {
  color: var(--color-white);
  background-color: var(--color-ametist);
}

.contacts__social {
  display: flex;
  flex-direction: column;
}

.contacts__socials-title {
  margin-bottom: 6px;
}

.contacts__socials-list {
  display: flex;
  flex-direction: row;
}

.contacts__socials-item {
  margin-right: 20px;
}

.contacts__socials-link svg {
  width: 40px;
  height: 40px;
  transition: opacity .3s ease-in-out, border .3s ease-in-out;
}

.contacts__socials-link:hover svg {
  opacity: 50%;
}

.contacts__socials-link:focus svg {
  opacity: 50%;
}

.contacts__socials-link svg path {
  transition: stroke .3s ease-in-out;
}

.contacts__socials-link:active svg path:first-child {
  stroke: #9643A4;
}

.contacts__socials-link:active svg path:first-child {
  outline: 1px solid #9643A4;
}

.contacts__map {
  border-top: 1px solid var(--color-pastelGray);
  height: 700px;
  width: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-float-button {
  border-radius: 5px;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-copyright {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_left {
  position: relative;
  float: right !important;
  margin-right: 10px;
}

.ymaps-2-1-79-controls__control_toolbar {
  top: 390px;
}

.ymaps-2-1-79-controls__control {
  inset: 320px 10px auto auto !important;
}

/*footer*/ 
.footer {
  min-height: 140px;
  background-color: var(--color-black);
}

.footer__container {
  min-height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 173px;
  height: 40px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link svg {
  height: 45px;
  width: 45px;
}

.footer__social-link svg path {
  transition: fill .3s ease-in-out;
}

.footer__social-link:hover svg path {
  fill: var(--color-white);
}

.footer__social-link:focus svg path {
  fill: var(--color-white);
}

.footer__social-link:active svg path {
  fill: var(--color-ametist);
}

@media (max-width: 1600px) {
  .header__nav-list {
    width: 80%;
  }

  .menu__list {
    width: 75%;
  }

  .dropdown {
    padding: 20px;
  }

  .panel__list-btn {
    font-size: 13px;
    line-height: 28px;
  }
  
  .contacts__first-container {
    min-height: 342px;
    padding-top: 43px;
    padding-bottom: 43px;
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__form {
    margin-right: 0;
  }

  .events__slide-content {
    padding: 14px 34px 49px 34px;
  }
}

@media (max-width: 1366px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 1200px) {

  .header__top-container {
    padding-left: 45px;
    padding-right: 45px;
  }

  .burger__btn, .header__nav-close {
    display: flex;
  }

  .burger {
    flex: 1 1 40%;
  }

  .burger__btn svg {
    transition: fill .3s ease-in-out;
  }

  .burger__btn:focus svg path {
    fill: var(--color-ametist);
  }

  .burger__btn:focus svg rect {
    fill: var(--color-ametist);
  }

  .burger__btn:hover svg path {
    fill: var(--color-ametist);
  }

  .burger__btn:hover svg rect {
    fill: var(--color-ametist);
  }

  .burger__btn:active svg path {
    fill: var(--color-royalPurple);
  }

  .burger__btn:active svg rect {
    fill: var(--color-royalPurple);
  }

  .header__nav-close svg rect {
    transition: fill .3s ease-in-out;
  }

  .header__nav-close:hover svg rect {
    fill: var(--color-ametist);
  }

  .header__nav-close:active svg rect {
    fill: var(--color-royalPurple);
  }

  .header__nav-close:focus svg rect {
    fill: var(--color-ametist);
  }

  .header__logo {
    display: flex;
    margin-right: 0px;
    flex: 1 1 20%;
    justify-content: center;
  }

  .header__logo img {
    width: 187.6px;
    height: 42px;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    height: 100vh;
    visibility: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 37px 50px 49px 50px;
    opacity: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  }

  .header__nav.active {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }

  .overflow {
    overflow-y: hidden;
  }

  .header__nav-list {
    display: flex;
    flex-direction: column;
    height: 50.5%;
    width: 100%;
    margin-bottom: auto;
    font-size: 23px;
  }

  .header__enter-btn {
    margin-top: 20px;
    padding: 19px 86px;
    border: 2px solid var(--color-ametist);
    border-radius: 100px;
    font-weight: 600;
    line-height: 1;
  }

  .header__enter-btn:focus {
    background-color: var(--color-ametist);
  }

  .header__nav-link {
    margin-right: 0;
  }

  .header__search {
    height: 36px;
    flex: 1 1 40%;
    overflow: hidden;
    text-align: right;
    background-color: transparent;
  }

  .header__search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 10px;
    right: 2px;
  }

  .header__search-btn, .header__form-btn {
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }

  .header__search-btn {
    position: absolute;
    width: 10%;
  }

  .header__search-form {
    display: inline-block;
    top: 20px;
    width: 85%;
  }

  .header__form-btn {
    position: relative;
    top: 5px;
  }

  .header__form-input {
    margin-right: 15px;
    max-width: 218px;
    width: 75%;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    color: var(--color-white);
    background-color: transparent;
    transition: border-bottom .3s ease-in-out;
  }

  .header__search-form:hover .header__form-input {
    border-bottom: 1px solid var(--color-ametist);
  }

  .header__form-input::placeholder {
    opacity: 0;
  }

  .header__search-form {
    opacity: 0;
    transform: translateX(+100%);
    transition: opacity .3s ease-in-out, transform .4s ease-in-out;
  }

  .header__search-form__active {
    transform: translateX(+17%);
    opacity: 1;
  }

  .header__search-btn {
    right: 0px;
    top: 2px;
    z-index: 1;
    transition: transform .4s ease-in-out;
  }

  .header__search-btn.active {
    transform: translateX(-750%);
    margin-right: 5px;
  }

  .header__search-btn svg path {
    transition: fill .3s ease-in-out;
  }
  
  .header__search-btn:hover svg path {
    fill: var(--color-ametist);
  }

  .header__search-btn:focus svg path {
    fill: var(--color-ametist);
  }

  .header__form-btn svg path {
    transition: fill .3s ease-in-out;
  }

  .header__form-btn:hover svg path {
    fill: var(--color-ametist);
  }

  .header__form-btn:focus svg path {
    fill: var(--color-ametist);
  }
  
  /*menu*/

  .menu {
    display: none;
  }

  /*hero*/

  .hero {
    margin-top: -100px;
  }

  .hero__swiper-slide:nth-child(1) {
    background-image: url(/img/hero1024-slide1.webp);
  }
  
  .hero__swiper-slide:nth-child(2) {
    background-image: url(/img/hero1024-slide2.webp);
  }
  
  .hero__swiper-slide:nth-child(3) {
    background-image: url(/img/hero1024-slide3.webp);
  }

  .hero__container {
    min-height: 768px;
    padding-top: 208px;
    padding-bottom: 116px;
  }

  .hero__heading {
    line-height: 85px;
  }

  .hero__text {
    max-width: 661px;
  }

  /*about*/

  .about {
    min-height: 487px;
  }

  .about__container {
    padding-bottom: 70px;
  }

  .about__text {
    width: 100%;
  }

  /*gallery*/

  .gallery {
    min-height: 560px;
    background-image: url(/img/gallery1024-background.webp);
  }

  .gallery__container {
    min-height: 560px;
  }

  .gallery__heading {
    margin-bottom: 14px;
  }

  .gallery__modal-content {
    max-width: 594px;
    max-height: 594px;
  }

  .modal-content-right {
    padding: 122px 50px 90px 49px;
  }

  .modal-content-right-text {
    margin-top: 24px;
  }

  .is-open .choices__list--dropdown {
    z-index: 1;
    background-color: var(--color-black);
  }

  .checkbox {
    margin-bottom: 37px;
  }

  .gallery__left-part {
    width: 34%;
  }

  .gallery__swiper {
    justify-content: center;
  }

  .gallery__swiper-btns {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .gallery__wrapper {
    height: 315px;
  }

  /*catalog*/
  
  .catalog {
    min-height: 1489px;
  }

  .catalog__container {
    padding-top: 78px;
  }

  .catalog__description {
    max-width: 100%;
  }
  
  .catalog__left-part {
    width: 50%;
  }

  .accordion__btn svg {
    right: -9px;
    height: 94px;
    width: 63px;
  }

  .tab-content-item picture {
    height: 274px;
  }
  
  .panel {
    padding-bottom: 2px;
  }

  .panel__list {
    columns: 2 auto;
  }

  .accordion__title {
    left: -1px;
  }

  .panel__list-btn {
    font-size: 16px;
    line-height: 32px;
  }

  /*events*/
  .events {
    min-height: 764px;
  }
  
  .events__container {
    padding-bottom: 88px;
    padding-top: 42px;
  }

  .events__swiper {
    margin-bottom: 30px;
  }

  .events__swiper-btns {
    display: none;
  }

  .events__content, .events__swiper-wrapper {
    height: 683px;
  }

  .events__swiper-slide-img {
    height: 200px;
  }

  .slide-img-desc {
    align-self: flex-end;
    text-align: right;
    margin-bottom: 4px;
    font-size: 11.5px;
    line-height: 17px;
  }

  .slide-title {
    margin-bottom: 7px;
  }

  .events__swiper-pagination {
    display: block;
    text-align: center;
  }

  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    color: var(--color-pastelGray);
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -45px;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-dimGray);
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,7.5px);
  }

  /*projects*/

  .projects {
    min-height: 572px;
  }

  .projects__container {
    padding-top: 32px;
  }

  .projects__text {
    max-width: 100%;
  }

  .tippy-content {
    max-width: 240px;
    padding: 6px 10px;
  }

  .tippy-arrow {
    display: none;
  }

  .projects__title {
    margin-bottom: 20px;
  }

  .projects__swiper-container {
    height: 128px;
  }

  .projects__swiper {
    margin-right: 53px;
    margin-left: 53px;
  }

  .slide-3 img {
    width: 72%;
  }


  /*contacts*/

  .contacts__info {
    margin-bottom: 32px;
  }

  .contacts__form {
    margin-bottom: 30px;
  }

  .contacts__first-container {
    padding-bottom: 36px;
  }

  .contacts__form-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__form-item:nth-child(-n+2) {
    margin-right: 20px;
  }  

  .contacts__form-input {
    margin-right: 0;
  }

  .contacts__form-btn {
    min-width: 343px;
  }

  .ymaps-2-1-79-zoom {
    display: none;
  }
  
  .ymaps-2-1-79-controls__control_toolbar {
    display: none;
  }

  /*footer*/
  .footer__social-link svg {
    height: 60px;
    width: 60px;
  }

  .footer__social-item {
    height: 60px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1023px) {
  
  .contacts__form-item {
    margin-bottom: 12px;
  }
  
  .catalog__content {
    flex-direction: column-reverse;
  }

  .catalog__left-part, .catalog__right-part {
    width: 100%;
  }

  .catalog__left-part {
    margin-right: 0px;
  }

  .catalog__right-part {
    margin-bottom: 50px;
  }

  .panel__list {
    columns: 3 auto;
  }

  .tab-content-item picture {
    height: 100%;
  }
  
  .tab-content-item picture img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {

   body {
    overflow-x: hidden;
  }

  /*header*/
  .header__top-container {
    justify-content: start;
  }

  .header__logo {
    flex: 0 0 33%;
  }

  .burger {
    flex: 0 0 34%;
    z-index: 1;
  }

  .header__search {
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0px;
    justify-content: end;
    z-index: 0;
  }

  .header__search.active {
    z-index: 2;
  }

  .header__search-container {
    width: 100%;
    height: 100%;
  }

  .header__search-btn {
    top: 35%;
    right: 5%;
    z-index: 1;
  }

  .header__search-form {
    width: 100%;
    height: 100%;
  }

  .header__search-btn.active {
    transform: translateX(-815%);
  }

  .header__search-form__active {
    height: 100%;
    transform: translateX(-13%);
    background-color: var(--color-black);
  }

  .header__form-input {
    position: relative;
    left: 27px;
    max-width: 576px;
    top: 35%;
  }

  .header__form-btn {
    position: relative;
    top: 38%;
    left: 5%;
  }

  /*hero*/
  .hero__swiper-slide:nth-child(1) {
    background-image: url(/img/hero768-slide1.webp);
  }
  
  .hero__swiper-slide:nth-child(2) {
    background-image: url(/img/hero768-slide2.webp);
  }
  
  .hero__swiper-slide:nth-child(3) {
    background-image: url(/img/hero768-slide3.webp);
  }

  /*about*/
  .about {
    min-height: 583px;
  }

  .about__text {
    line-height: 32px;
  }

  .about__heading {
    margin-bottom: 15px;
  }

  /*gallery*/
  .gallery {
    background-image: url(/img/gallery768-background.webp);
  }

  .gallery__modal-content {
    max-width: 668px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .modal-content-right {
    padding: 122px 36px 122px 50px;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__left-part {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery__swiper-btns {
    margin-bottom: 27px;
  }

  .choices {
    max-width: 281px;
  }

  .checkbox {
    margin-bottom: 0px;
  }

  .gallery__select {
    margin-bottom: 40px;
  }
  
  .gallery__wrapper {
    height: 330px;
  }

  .gallery__right-part {
    width: 100%;
  }

  /*catalog*/

  .catalog__container {
    padding-top: 80px;
  }

  .catalog__description {
    margin-bottom: 23px;
  }

  .accordion__btn {
    padding: 0px;
  }

  .accordion__btn svg {
    right: -7px;
    height: 55px;
  }

  .panel {
    padding: 25px 0px 40px 0px;
  }

  .panel__list {
    columns: 3 auto;
  }

  .tab-content-title {
    margin-bottom: 10px;
  }

  .tab-content-date {
    margin-bottom: 6px;
  }

  .events__container {
    padding-top: 15px;
  }

  /* projects*/

  .projects__text {
    max-width: 657.51px;
    margin-bottom: 23px;
  }

  .projects__title {
    margin-bottom: 30px;
  }

  .projects__swiper-container {
    height: 106px;
  }

  .projects__swiper-btns {
    top: 35%;
  }

  .slide-1 img {
    width: 80%;
  }

  .slide-2 img {
    width: 83%;
  }

  .slide-4 img {
    width: 40%;
  }

  .slide-5 img {
    width: 45%;
  }

  .slide-6 img {
    width: 67%;
  }

  .slide-7 img {
    width: 75%;
  }

  .slide-8 img {
    width: 55%;
  }

  .slide-9 img {
    width: 70%;
  }

  .events__slide-content {
    padding: 14px 37px 48px 37px;
  }

  .slide-img-desc {
    margin-right: -19px;
  }

  .link-1 {
    display: none;
  }

  .link-2 {
    display: inline-block;
  }

  /*contacts*/ 

  .contacts__first-container {
    min-height: 404px;
  }

  .contacts__form-input {
    width: 323px;
  }

  .contacts__form-btn {
    min-width: 317px;
  }

  .contacts__form-item:nth-child(2) {
    margin-right: 0px;
  }

  .contacts__form-item:nth-child(3) {
    margin-right: 30px;
  }

  .contacts__form-btn {
    padding: 11px 23px;
  }

  .contacts__form {
    margin-bottom: 18px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 36px;
  }

  .text {
    font-size: 15px;
  }

  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .hero__container {
    min-height: 600px;
    padding-top: 175px;
    text-align: center;
    align-items: center;
  }

  .hero__heading {
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 1;
  }

  .hero__text {
    font-size: 16px;
    line-height: 28px;
  }

  /*about*/
  .about__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /*gallery*/
  .gallery__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .gallery__modal-content {
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    max-height: 600px;
  }

  .modal-content-left {
    width: 100%;
    max-width: 100%;
    height: 200px;
  }

  .modal-content-right {
    padding: 17px 21px 26px 20px;
  }

  .modal-content-right-close {
    top: -190px;
    right: 5px;
  }

  .modal-content-right h3 {
    font-size: 24px;
  }

  .modal-content-right-text {
    line-height: 32px;
    margin-top: 12px;
  }

  body {
    overflow: auto;
  }

  /*catalog*/
  .catalog__container {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .panel__list {
    width: 100%;
    columns: 2 auto;
  }

  /*events*/
  .events__container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .slide-img-desc {
    margin-right: -5px;
  }

  /*contacts*/
  .contacts__map {
    height: 400px;
  }

  /*projects*/
  .projects__container {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  /*footer*/
  .footer {
    min-height: 132px;
  }

  .footer__container {
    padding: 20px 0px;
    flex-direction: column-reverse;
  }

  .footer__social-item {
    height: 50px;
  }

  .footer__social-link svg {
    height: 50px;
    width: 50px;
  }

  .footer__logo {
    width: 96.8px;
    height: 21.27px;
  }
}

@media (max-width: 400px) {

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  h2 {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .btn {
    padding: 11px 16px;
    font-size: 12px;
    line-height: 16px;
  }

  .text {
    font-size: 16px;
  }

  /*header*/

  .header__top {
    min-height: 45px;
  }

  .burger__svg-1 {
    display: none;
  }

  .burger__svg-2 {
    display: inline-block;
  }

  .burger__btn svg {
    height: 18px;
    width: 25px;
  }

  .header__top-container {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
  }

  .header__nav {
    padding: 15px 16px 27px 16px;
  }

  .header__nav-list {
    font-size: 14px;
    line-height: 26px;
  }
  
  .header__nav-close {
    margin-bottom: 16px;
  }

  .header__nav-close svg {
    height: 15px;
  }

  .header__enter-btn {
    padding: 10px 30px;
  }

  .header__enter-btn svg {
    width: 9px;
    height: 9px;
    margin-right: 0;
  }

  .header__logo {
    flex: 0 0 35%;
  }

  .header__logo img {
    height: 21.67px;
    width: 96.8px;
  }

  .header__search {
    height: 75px;
    left: 0px;
    z-index: 0;
  }

  .header__search-container {
    right: 0px;
    margin-left: 0px;
  }

  .header__search-btn {
    right: 20px;
  }

  .header__search-btn svg {
    height: 18px;
    width: 18px;
  }

  .header__form-input {
    max-width: 57%;
    left: -12%;
    top: 35px;
  }

  .header__form-btn {
   left: -5%;
   top: 35%;
   transition: top .3s ease-in-out;
  }

  .header__form-btn svg {
    height: 15px;
    width: 15px;
  }

  .header__search-form__active {
    transform: translateX(0);
  }

  .header__search-btn.active {
    top: 55%;
    transform: translateX(-700%);
  }

  /*hero*/
  .hero {
    margin-top: -45px;
  }

  .hero__swiper-slide:nth-child(1) {
    background-image: url(/img/hero320-slide1.webp);
  }
  
  .hero__swiper-slide:nth-child(2) {
    background-image: url(/img/hero320-slide2.webp);
  }
  
  .hero__swiper-slide:nth-child(3) {
    background-image: url(/img/hero320-slide3.webp);
  }

  .hero__container {
    min-height: 355px;
    padding-top: 75px;
    padding-bottom: 45px;
  }

  .hero__heading {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
  }

  .hero__text {
    margin-right: auto;
    margin-left: auto;
    max-width: 265px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__btn {
    min-width: 200px;
    min-height: 40px;
  }

  /*about */

  .about__container {
    padding-bottom: 40px;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

  .about__heading {
    margin-bottom: 12px;
  }

  /*gallery*/
  .gallery {
    background-image: url(/img/gallery320-background.webp);
  }

  .gallery__heading {
    margin-bottom: 13px;
  }

  .gallery__left-part {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .gallery__select {
    margin-bottom: 30px;
  }

  .gallery__select-heading {
    margin-bottom: 5px;
  }

  .choices {
    max-width: 290px;
  }

  .choices__inner {
    padding: 1px 13px 5px 15px;
  }

  .gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .gallery__wrapper {
    margin-bottom: 0px;
    height: 367px;
  }

  .gallery__swiper-btns {
    justify-content: center;
    margin-bottom: 0;
  }

  /*catalog*/
  .catalog__description {
    display: none;
  }

  .accordion__btn {
    height: 74px;
  }

  .panel {
    max-height: 808px;
    padding: 19px 0px;
  }

  .accordion__title {
    font-size: 18px;
    left: 0px;
  }
  
  .accordion__btn svg {
    height: 32px;
    width: 32px;
    right: 0px;
    top: 28%;
  }

  .panel__list {
    column-count: 1;
  }

  .tab-content-item picture {
    height: 181px;
    margin-bottom: 21px;
    object-fit: contain;
  }

  .tab-content-title {
    margin-bottom: 13px;
  }

  .tab-content-desc {
    max-width: 289px;
  }

  /*events*/
  .events__container {
    padding-top: 11px;
  }

  .events__swiper {
    margin-bottom: 10px;
  }

  .events__slide-content {
    padding: 17px 18px 49px 23px;
  }

  .slide-description {
    margin-right: 15px;
  }

  .slide-img-desc {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .slide-link {
    left: 5px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -35px;
  }

  /*projects*/
  .projects__container {
    padding-top: 55px;
  } 

  .projects__heading  {
    margin-bottom: 13px;
  }

  .tippy-box {
    left: -45px;
  }

  .tippy-content {
    padding: 6px 10px;
  }

  .link-3 {
    display: inline-block;
    top: -2px;
  }

  .link-2, .link-1 {
    display: none;
  }

  .projects__text {
    margin-bottom: 7px;
  }

  .projects__title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .projects__swiper {
    margin-right: 48px;
    margin-left: 48px;
  }

  .projects__swiper-container {
    height: 65px;
  }

  .projects__swiper-btns {
    top: 17.5px;
  }

  .projects__swiper-slide  {
    align-items: stretch;
  }

  .projects__swiper-slide img {
    width: 55%;
  }

  /*contacts*/
  .contacts {
    border-top: none;
  }

  .contacts__first-container {
    min-height: 347px;
    padding-top: 21px;
    padding-bottom: 15px;
  }

  .contacts__info {
    margin-bottom: 18px;
  }

  .contacts__title {
    margin-bottom: -2px;
    font-size: 18px;
  }

  .contacts__adress {
    font-size: 14px;
    line-height: 1;
  }

  .contacts__form {
    width: 100%;
  }

  .contacts__form-list {
    width: 100%;
  }

  .contacts__form {
    margin-bottom: 9px;
  }

  .contacts__form-input {
    height: 40px;
    padding: 4px 24px;
    width: 290px;
  }

  .contacts__form-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .contacts__form-btn {
    min-width: 128px;
    min-height: 40px;
    padding: 8px 33px;
    font-size: 12px;
    line-height: 16px;
  }

  .form-btn-1 {
    display: none;
  }

  .form-btn-2 {
    display: block;
  }

  .contacts__socials-title {
    font-size: 17px;
    line-height: 32px;
  }

  .contacts__socials-link svg {
    width: 50px;
    height: 50px;
  }

  .contacts__map {
    height: 320px;
  }

  .ymaps-2-1-79-map .ymaps-2-1-79-i-ua_js_yes .ymaps-2-1-79-map-bg .ymaps-2-1-79-islets_map-lang-ru {
    height: 320px;
  }

  .ymaps-2-1-79-copyright__link {
    display: none;
  }

  .footer__container {
    padding: 20px 0px 29px 0px;
  }
}

@media (orientation: landscape) and (max-width: 500px) {
  .header__nav-close {
    margin-bottom: 10px;
  }

  .header__nav {
    padding-bottom: 20px;
  }

  .header__nav-list {
    height: 65%;
    font-size: 20px;
  }

  .header__enter-btn {
    padding: 10px 45px;
  }
}